<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <%= job.name %> </h3>
  </div>
  <div class="panel-body ">
    <b>Location:</b> <%= job.location %>
    <br>
    <b>Description: </b> <%= job.description %>
  </div>
</div>