<footer class="footer">
    <ol class="breadcrumb breadcrumb-footer text-center">
      <li <% if action_name == "about" %>class="active"<% end %>><% if action_name == "about" %>About<% else %><a href="#">About</a><% end %></li>
      <li <% if action_name == "contact" %>class="active"<% end %>><% if action_name == "contact" %>Contact<% else %><a href="#">Contact</a><% end %></li>
    </ol>
</footer>
