<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <br><br><br>
      <div class="text-center">
        <h1>
        Contact Us
        </h1>
        <h4>
        Hourli is an open source project. Feel free to contact us or join in.  
        </h4>
        <h4>
          <a target="_blank" href = "https://github.com/Hourli/Hourli">Github</a>
        </h4>
        <h4>
          <a target="_blank" href = "http://www.agileventures.org/projects/hourli">Agile Ventures</a>
        </h4>
      </div>
    </div>
  </div>
</div>
