<%= stylesheet_link_tag 'home' %>

<% content_for :body do %>
    <body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <nav id="myScrollspy">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#overview">Overview</a></li>
          <li><a href="#track_your_jobs">Track Your Jobs</a></li>
          <li><a href="#add_tasks_to_jobs">Add Tasks to Your Job</a></li>
          <li><a href="#find_contractor">Find a Contractor</a></li>
          <li><a href="#find_customer">Find a Customer</a></li>
        </ul>
      </nav>
    </div>

    <div class="col-sm-9">
      <div id="overview">
        <br>
        <h1 class="text-center">Welcome to Hourli!</h1>
        <br>
        <p>
          Hourli provides a way for you to track any jobs which charge an hourly fee for services. You can create
          jobs, create tasks for each of those jobs and record how long you've been working on each task, what it
          involved, etc. You can also find a contractor or customer on our website. Sign up today and Explore more!
        </p>

        <br><br>
        <div class="text-center">
          <%= link_to "Signup", new_user_registration_path , class: 'btn btn-lg btn-success' %>
        </div>


      </div>

      <div id="track_your_jobs">
        <h3>Feature 1: Track Your Jobs</h3>
        <br>
        <p>
          The most important function of our website is to track your jobs which charge
          hourly, no matter a formal job or a personal cleaning work. After you log in as a contractor, you will see
          lists of your ongoing jobs and completed jobs. Click the "+" label, you can create a new job that you want to
          keep track of. We help you to manage your jobs efficiently!
        </p>

      </div>

      <div id="add_tasks_to_jobs">
        <h3>Feature 2: Add Tasks to Your Job</h3>
        <br>
        <p>
          When tracking a job, you can freely split a job into several different tasks, and
          add some specific requirement to each task to remind yourself. You don't need to do that all at once, but
          are able to add or remove any task at any time. Rome wasn't built in a day. After splitting your job into
          small tasks, no job is intimidating any more!
        </p>
      </div>

      <div id="find_contractor">
        <h3>Feature 3: Find a Contractor</h3>
        <br>
        <p>
          Want a person to work for you? Come here! When you log in as a customer, you can
          create and post a new job request. In the job request, you need to provide with the corresponding title,
          description, location, hourly fee, and categories. After posting the job request on our website, just wait! We
          have thousands of job hunters and you will certainly find a suitable person!
        </p>
      </div>

      <div id="find_customer">
        <h3>Feature 4: Find a Customer</h3>
        <br>
        <p>
          Want to find a job? Come here! When you log in as a contractor, you can search
          current job requests that are posted by some customers in our website. Find one that meets your need and
          accept the job request. If the customer also wants you, you'll be notified. Then you can start to work and use
          our website to track your job progress. Easy enough?
        </p>
      </div>
    </div>
  </div>
</div>
